:host {
	width: calc(100% - 30px);
}

:host > head {
	display: flex;
	align-items: center;
	justify-content: flex-start;

	padding: 0 15px 0 8px;

	border-radius: 15px;

	width: calc(100%);
	height: 40px;

	gap: 4px;
}

:host > head:hover {
	background-color: rgb(235, 240, 254);
	cursor: pointer;
}

:host > head:hover > p {
	color: rgb(57, 97, 237);
}

:host > head > svg {
	scale: 1;
	fill: rgb(169, 174, 199);
}

:host > head > svg.collapse:hover {
	background-color: rgb(220, 228, 253);
	fill: rgb(57, 97, 237);
	border-radius: 10px;
}

:host > head > p {
	margin-left: 2px;
	color: rgb(102, 113, 168);
}

:host > main {
	padding-left: 20px;
}

:host > main > p {
	font-style: italic;
	margin-left: 15px;
	color: rgb(169, 174, 199);
}
