:host > head {
	display: flex;
	align-items: center;
	justify-content: flex-start;

	padding-left: 8px;
	margin-bottom: 2px;

	border-radius: 15px;

	height: 40px;

	gap: 4px;
}

:host > head:hover {
	background-color: rgb(235, 240, 254);
	cursor: pointer;
}

:host > head:hover > p {
	color: rgb(57, 97, 237);
}

:host > head.selected {
	background-color: rgb(223, 231, 253);
}

:host > head > svg {
	fill: rgb(169, 174, 199);
}

:host > head > :is(svg.collapse, .placeholder) {
	width: 24px;
	height: 24px;
	transform: rotate(90deg);
}

:host > head > svg.collapse:hover {
	fill: rgb(57, 97, 237);
	border-radius: 10px;
}

:host > head:not(.selected) > svg.collapse:hover {
	background-color: rgb(220, 228, 253);
}

:host > head.collapsed > svg.collapse {
	transform: rotate(0deg);
}

:host > head > p {
	margin-left: 2px;
	color: rgb(102, 113, 168);
}

:host > main {
	padding-left: 20px;
}

:host > main > p {
	font-style: italic;
	margin-left: 15px;
	color: rgb(169, 174, 199);
}

:host > main > loading-spinner {
	width: 30px;
	height: 30px;

	margin: 5px 0 5px 20px;

	--thickness: 6px;
}
