@if (this.loaded) {
    @if (this.empty) {
        <p>Hier gibt es noch nichts zu sehen</p>
    } @else {   
        @for (directory of (directories$ | async); track directory.name) {
            <content-list-directory [name]="directory.name" [size]="directory.size"></content-list-directory>
        }
        
        @for (file of (files$ | async); track file.name) {
            <content-list-file [name]="file.name" [size]="file.size"></content-list-file>
        }
    }
} @else {
    <loading-spinner></loading-spinner>
}