:host {
	background-color: rgb(255, 255, 255);

	padding: 20px;
	border-radius: 25px 0 0 25px;

	width: calc(40% - 20px);
	height: calc(100% - 2 * 20px);

	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;

	overflow-y: scroll;
}
