:host {
	background-color: rgb(255, 255, 255);

	padding: 20px;
	border-radius: 25px 0 0 25px;

	width: calc(40% - 2 * 20px);
	height: calc(100% - 2 * 20px);

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	overflow-y: scroll;
}

:host.loaded {
	justify-content: flex-start;
	align-items: normal;
}

:host > loading-spinner {
	width: 30px;
	height: 30px;

	--thickness: 6px;
}
