root = true

[*]
charset = utf-8
indent_style = tab
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

[*.{ts,js}]
indent_style = tab
indent_size = 4
quote_type = single

[*.scss]
indent_style = tab
indent_size = 4