:host {
	display: grid;
	grid-template-columns: auto 1.5fr 0.5fr 0.5fr 0.25fr auto;
	grid-template-rows: 2.5rem;
	grid-column-gap: 0.5rem;
	grid-template-areas: 'a b c d e f';
	align-items: center;
	justify-content: left;

	padding: 0 0.9rem;

	border-radius: 0.9rem;

	user-select: none;

	transition: background-color 0.2s ease;
}

:host:hover {
	cursor: pointer;

	background-color: var(--color-bg-hover);
}

:host:hover > .actions {
	opacity: 1;
}

:host.selected {
	background-color: var(--color-bg-selected);
}

:host:hover > :is(.name, .size, .date, .type) {
	color: var(--color-text-secondary-hover);
}

:host > :is(.name, .size, .date, .type) {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	color: var(--color-text-secondary);

	transition: all 0.2s ease;
}

:host > .file.icon {
	width: 1.375rem;
}

:host > .icon {
	width: 1.5rem;

	display: flex;
	align-items: center;
	justify-content: center;
}

:host > .actions {
	margin-left: auto;

	grid-area: f;
	justify-self: end;

	display: flex;
	gap: 0.188rem;

	opacity: 0;

	transition: opacity 0.2s ease;
}

:host > .actions > .icon {
	width: 1.375rem;

	padding: 0.25rem;

	border-radius: 0.5rem;

	fill: var(--color-icon);

	transition: background-color 0.2s ease;
}

:host > .actions > .icon:hover {
	background-color: var(--color-bg-hover-on-bg-hover);
	fill: var(--color-icon-hover);
}

:host.selected > .actions > .icon:hover {
	background-color: var(--color-bg-hover-on-bg-selected);
}

:host > .actions > .icon.delete {
	fill: var(--color-icon-danger);
}

:host > .actions > .icon.delete:hover {
	fill: var(--color-icon-danger-hover);
	background-color: var(--color-bg-danger);
}
