:host {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 45px;
	height: 45px;

	border-radius: 50%;

	user-select: none;
}

:host > img:hover {
	width: 90%;
	cursor: pointer;
}

:host > img {
	object-fit: cover;
	width: 80%;

	transition: width 0.1s;
}
