<pure-content-list
	[content]="content"
	[isInSelectMode]="isInSelectMode"
	[isRootOpened]="isRootOpened"
	[isLoading]="false"
	[selectedIds]="selectedIds"
	(onClickOutside)="unselectAll()"
	(onSelectAll)="selectAll()"
	(onUnselectAll)="unselectAll()"
	(onSelect)="onSelect($event)"
	(onUnselect)="onUnselect($event)"
	(onOpen)="onOpen($event)"
	(onDelete)="onDelete($event)"
	(onDeleteSelected)="onDeleteSelected()"
	(onCreate)="onCreate($event)"
	(onUploadClick)="onUploadClick()"
	(onPlusClick)="onPlusClick()"
	(onDownload)="onDownload($event)"
	(onCancelCreation)="onCancelCreation()"
	[showCreateDirectoryComponent]="showCreateDirectoryComponent"
></pure-content-list>
