.light-theme {
	/* PALETTE */
	--color-primary: hsl(227, 83%, 58%);
	--color-secondary: hsl(230, 27%, 53%);
	--color-background: hsl(225, 100%, 99%);
	--color-success: hsl(134, 61%, 41%);
	--color-warning: hsl(45, 100%, 51%);
	--color-error: hsl(354, 70%, 54%);

	/* SHADES */
	--color-primary-100: hsl(226, 85%, 8%);
	--color-primary-200: hsl(226, 85%, 19%);
	--color-primary-300: hsl(226, 85%, 30%);
	--color-primary-400: hsl(226, 85%, 41%);
	--color-primary-500: hsl(226, 85%, 52%);
	--color-primary-600: hsl(226, 85%, 63%);
	--color-primary-700: hsl(226, 85%, 73%);
	--color-primary-800: hsl(226, 85%, 83%);
	--color-primary-900: hsl(226, 85%, 93%);
	--color-primary-1000: hsl(226, 85%, 99%);

	--color-secondary-100: hsl(230, 27%, 13%);
	--color-secondary-200: hsl(230, 27%, 23%);
	--color-secondary-300: hsl(230, 27%, 33%);
	--color-secondary-400: hsl(230, 27%, 43%);
	--color-secondary-500: hsl(230, 27%, 53%);
	--color-secondary-600: hsl(230, 27%, 63%);
	--color-secondary-700: hsl(230, 27%, 73%);
	--color-secondary-800: hsl(230, 27%, 83%);
	--color-secondary-900: hsl(230, 27%, 93%);
	--color-secondary-1000: hsl(230, 27%, 99%);

	--color-background-100: hsl(225, 100%, 75%);
	--color-background-200: hsl(225, 100%, 78%);
	--color-background-300: hsl(225, 100%, 81%);
	--color-background-400: hsl(225, 100%, 84%);
	--color-background-500: hsl(225, 100%, 87%);
	--color-background-600: hsl(225, 100%, 90%);
	--color-background-700: hsl(225, 100%, 93%);
	--color-background-800: hsl(225, 100%, 96%);
	--color-background-900: hsl(225, 100%, 98%);
	--color-background-1000: hsl(225, 100%, 99%);
	--color-background-1100: hsl(225, 100%, 100%);

	--color-success-100: hsl(134, 61%, 11%);
	--color-success-200: hsl(134, 61%, 21%);
	--color-success-300: hsl(134, 61%, 31%);
	--color-success-400: hsl(134, 61%, 41%);
	--color-success-500: hsl(134, 61%, 51%);
	--color-success-600: hsl(134, 61%, 61%);
	--color-success-700: hsl(134, 61%, 71%);
	--color-success-800: hsl(134, 61%, 81%);
	--color-success-900: hsl(134, 61%, 91%);
	--color-success-1000: hsl(134, 61%, 99%);

	--color-warning-100: hsl(45, 100%, 11%);
	--color-warning-200: hsl(45, 100%, 21%);
	--color-warning-300: hsl(45, 100%, 31%);
	--color-warning-400: hsl(45, 100%, 41%);
	--color-warning-500: hsl(45, 100%, 51%);
	--color-warning-600: hsl(45, 100%, 61%);
	--color-warning-700: hsl(45, 100%, 71%);
	--color-warning-800: hsl(45, 100%, 81%);
	--color-warning-900: hsl(45, 100%, 91%);
	--color-warning-1000: hsl(45, 100%, 99%);

	--color-error-100: hsl(354, 70%, 14%);
	--color-error-200: hsl(354, 70%, 24%);
	--color-error-300: hsl(354, 70%, 34%);
	--color-error-400: hsl(354, 70%, 44%);
	--color-error-500: hsl(354, 70%, 54%);
	--color-error-600: hsl(354, 70%, 64%);
	--color-error-700: hsl(354, 70%, 74%);
	--color-error-800: hsl(354, 70%, 84%);
	--color-error-900: hsl(354, 70%, 94%);
	--color-error-1000: hsl(354, 70%, 99%);

	/* TOKENS */
	--color-bg-button-primary: var(--color-primary-500);
	--color-bg-spinner-primary: var(--color-secondary-800);
	--color-bg-spinner-secondary: var(--color-secondary-900);

	--color-text-hover: var(--color-primary-500);
	--color-text-secondary: var(--color-secondary-500);

	--color-icon: var(--color-secondary-500);
	--color-icon-hover: var(--color-primary-500);

	--color-icon-danger: var(--color-error-600);
	--color-icon-danger-hover: var(--color-error-500);

	--color-bg-hover: var(--color-background-800);
	--color-bg-hover-on-bg-hover: var(--color-background-700);

	--color-bg-selected: var(--color-background-700);
	--color-bg-hover-on-bg-selected: var(--color-background-600);

	--color-bg: var(--color-background-1000);
	--color-bg-secondary: var(--color-background-1100);

	--color-bg-danger: var(--color-error-800);
}
