:host {
	background-color: var(--color-bg-tertiary);

	border-radius: 1.625rem 0 0 1.625rem;

	display: block;

	overflow: scroll;

	height: 100%;
	width: 100%;

	position: relative;

	padding: 1.625rem;

	box-sizing: border-box;
}
