<directory-tree-item
	(onCollapse)="onCollapse.emit($event)"
	(onExpand)="onExpand.emit($event)"
	(onLoadContent)="onLoadContent.emit($event)"
	(onSelect)="onSelect.emit($event)"
	[root]="root"
	[tree]="tree"
	[isCollapsed]="false"
	[hasChildren]="true"
	[isSelected]="selectedId === root.id"
	[selectedId]="selectedId"
	[expandedIds]="expandedIds"
	[isRoot]="true"
></directory-tree-item>
@if (showCreateDirectoryComponent) {
	<nameable-directory-item [isIndented]="true"></nameable-directory-item>
}
