@mixin element {
	position: relative;

	max-width: 100%;
	width: 100%;
	height: 40px;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: start;

	padding: 0 15px 0 8px;
	margin-bottom: 2px;

	border-radius: 15px;

	&:hover,
	&.active,
	&.drag-hover {
		cursor: pointer;
		background-color: rgb(235, 240, 254);
		.name {
			color: rgb(57, 97, 237);
		}

		.delete-icon {
			display: block;
		}
	}

	&.drag-hover {
		.delete-icon {
			display: none;
		}
	}

	svg {
		width: 100%;
		height: 100%;
	}

	.icon {
		position: relative;

		width: 24px;
		height: 24px;

		flex-shrink: 0;

		fill: rgb(102, 113, 168);

		&:hover {
			fill: rgb(57, 97, 237);
		}
	}

	.name {
		margin-left: 8px;

		max-width: 80%;
		font-family: Montserrat Medium;
		font-weight: 500;

		cursor: default;

		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
		color: rgb(102, 113, 168);

		flex-shrink: 1;
	}

	.delete-icon {
		display: none;

		margin-left: auto;

		fill: rgb(102, 113, 168);

		&:hover {
			fill: rgb(57, 97, 237);
		}
	}
}
