@mixin file-icon($color, $background) {
	overflow: hidden;

	.background {
		height: 100%;
		aspect-ratio: 0.76 / 1;

		background-color: $color;

		border-radius: 19.1885965%/14.5833333%;

		display: flex;
		justify-content: end;

		.dog-ear {
			position: relative;

			width: 32.8947368%;
			height: 25%;

			background-color: lighten($color, 25);
			border-bottom-left-radius: 5.48245614% 4.16666667%;

			.negative {
				width: 0;
				height: 0;

				border-style: solid;
				border-width: 1vw;
				border-color: $background transparent transparent transparent;
			}
		}
	}
}
