@mixin icon($width: 24px, $height: 24px, $fill: black, $hover-fill: grey) {
	& {
		width: $width;
		height: $height;
		fill: $fill;

		&:hover {
			fill: $hover-fill;
		}

		svg {
			width: $width;
			height: $height;
			fill: $fill;
		}
	}
}
