@mixin toggle-switch($color-enabled: rgb(54, 97, 237), $color-disabled: rgb(174, 178, 201)) {
	cursor: pointer;
	position: relative;

	display: block;

	aspect-ratio: 1.8 / 1;

	display: flex;
	align-items: center;

	z-index: 1;

	input {
		all: unset;

		position: absolute;
		top: 0;
		left: 0;

		width: 100%;
		height: 100%;

		background-color: transparent;
	}

	span {
		display: block;

		width: 43%;
		aspect-ratio: 1 / 1;
		background-color: white;

		border-radius: 50%;

		margin-left: 7%;

		transition: margin-left 0.3s;
	}

	span::before {
		content: "";
		width: 100%;
		height: 100%;

		background-color: $color-disabled;

		position: absolute;
		top: 0;
		left: 0;

		border-radius: 34.51% / 62.35%;

		z-index: -1;

		transition: background-color 0.3s;
	}

	input:checked + span {
		margin-left: calc(100% - 43% - 7%);
	}

	input:checked + span::before {
		background-color: $color-enabled;
	}
}
