:host {
	display: block;
	position: relative;

	aspect-ratio: 1 / 1;
}

:host > label,
:host > label > .wrapper {
	position: relative;
	display: block;

	width: 100%;
	height: 100%;

	border-radius: 20%;

	transition: all 0.2s ease;
}

:host > label > .wrapper {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

:host > label > .wrapper:hover {
	cursor: pointer;
	width: 110%;
	height: 110%;
}

:host > label > .wrapper::before {
	box-sizing: border-box;
	position: absolute;

	content: '';
	display: block;

	border: 1px solid black;

	border-radius: 20%;

	width: 100%;
	height: 100%;

	opacity: 1;

	transition: all 0.4s ease;
}

:host > label > .wrapper > svg {
	width: 100%;
	scale: 0;
	fill: green;
	transition: scale 0.3s ease;
}

:host > label > input {
	display: none;
}

:host > label > input:checked + .wrapper:hover {
	width: 120%;
	height: 120%;
}

:host > label > input:checked + .wrapper > svg {
	scale: 1.2;
}

:host > label > input:checked + .wrapper::before {
	opacity: 0;
}
