:host {
	position: relative;
	width: 100%;
	overflow: hidden;

	display: flex;
	align-items: center;
	justify-content: flex-start;

	gap: 0px;
}

:host > p {
	border-radius: 15px;

	padding: 4px 10px;

	font-size: 0.9rem;
}

:host > p:hover {
	background-color: rgb(235, 240, 254);
	color: rgb(57, 97, 237);
	cursor: pointer;
}

:host > svg {
	fill: rgb(102, 113, 168);
}
