:host {
	display: flex;
	align-items: center;
	justify-content: center;

	overflow: hidden;
}

.wrapper {
	display: flex;
	align-items: center;
	justify-content: center;

	flex-grow: 1;

	max-height: 100%;

	aspect-ratio: 1 / 1;

	overflow: hidden;

	--background: rgb(239, 240, 245);

	--color: rgb(208, 211, 224);
}

.loading-spinner {
	aspect-ratio: 1 / 1;

	height: calc(100% - 2 * var(--thickness));

	position: relative;

	background-color: transparent;

	border: var(--thickness) solid;

	border-radius: 50%;
	animation: spin infinite linear 1.5s;
}

@keyframes spin {
	100% {
		transform: rotate(360deg);
	}
}

:host.minimalistic .loading-spinner {
	border-color: var(--background) var(--background) var(--background) var(--color);
}

:host.rounded .loading-spinner {
	border-color: var(--background) var(--color) var(--color) var(--color);
}

:host.rounded .loading-spinner:before,
:host.rounded .loading-spinner:after {
	content: '';
	display: block;
	position: absolute;
	background-color: var(--color);
	border-radius: 50%;
	width: var(--thickness);
	height: var(--thickness);
	transform: translate(-50%, -50%);
	top: calc(50% - (50% + var(--thickness) / 2) * sin(45deg));
}

.loading-spinner:before {
	left: calc(50% - (50% + var(--thickness) / 2) * cos(45deg));
}

.loading-spinner:after {
	left: calc(50% + (50% + var(--thickness) / 2) * cos(45deg));
}
