#directory-contents {
	position: relative;

	width: 40vw;
	height: 80vh;

	background-color: rgb(251, 252, 255);
	border-radius: 0 25px 25px 0;
	padding: 20px;

	overflow-y: scroll;

	&.empty::after {
		position: absolute;

		width: calc(100% - 2 * 20px);
		height: 20px;
		top: 100px;

		content: "This folder is empty.";

		font-family: Montserrat Medium;
		font-size: large;
		text-align: center;
		color: rgb(102, 113, 168);
	}
}
