#directory-contents {
	position: relative;

	width: 40vw;
	height: 80vh;

	background-color: rgb(251, 252, 255);
	border-radius: 0 25px 25px 0;
	padding: 20px;

	overflow-y: scroll;

	&.empty::after {
		position: absolute;

		width: calc(100% - 2 * 20px);
		height: 20px;
		top: 100px;

		content: "This folder is empty.";

		font-family: Montserrat Medium;
		font-size: large;
		text-align: center;
		color: rgb(102, 113, 168);
	}
}

.element {
	position: relative;

	max-width: 100%;
	width: 100%;
	height: 40px;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: start;

	padding: 0 15px 0 8px;
	margin-bottom: 2px;

	border-radius: 15px;

	&:hover,
	&.active {
		background-color: rgb(235, 240, 254);
		.name {
			color: rgb(57, 97, 237);
		}

		.delete-icon {
			display: block;
		}
	}

	svg {
		width: 100%;
		height: 100%;
	}

	.icon {
		position: relative;

		width: 24px;
		height: 24px;

		flex-shrink: 0;
	}

	.name {
		margin-left: 8px;

		max-width: 80%;
		font-family: Montserrat Medium;
		font-weight: 500;

		cursor: default;

		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
		color: rgb(102, 113, 168);

		flex-shrink: 1;
	}

	.delete-icon {
		display: none;

		margin-left: auto;

		fill: rgb(102, 113, 168);

		&:hover {
			fill: rgb(57, 97, 237);
		}
	}
}
