#drop-overlay {
	position: absolute;

	width: 100vw;
	height: 100vh;

	background-color: lightgrey;

	display: flex;
	align-items: center;
	justify-content: center;

	* {
		pointer-events: none;
	}

	&.hidden {
		display: none;
	}

	p {
		text-align: center;
	}
}
