#file-explorer {
	position: relative;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	width: fit-content;
	height: 100%;

	#control-bar {
		display: flex;
		flex-direction: row;
		align-items: center;

		width: 100%;
		padding: 5px;

		margin-top: -30px;

		.navigation-icon {
			width: 30px;
			height: 30px;

			border-radius: 50%;

			display: flex;
			align-items: center;
			justify-content: center;

			fill: rgb(102, 113, 168);
			transition: fill 0.2s;

			&:hover {
				cursor: pointer;

				fill: rgb(57, 97, 237);

				background-color: rgb(235, 240, 254);
			}
		}

		.navigation-icon.disabled {
			fill: hsl(230, 17%, 73%);
		}

		#forward-icon {
			transform: rotate(90deg);

			margin-right: 7px;
			margin-left: 2px;
		}

		#backward-icon {
			transform: rotate(-90deg);
		}

		#create-folder-icon {
			margin-left: auto;
		}
	}

	#body {
		display: flex;
		flex-direction: row;
	}
}
