.element.file {
	&:hover {
		.extension,
		.size {
			color: rgb(57, 97, 237);
		}

		.download-icon svg {
			fill: rgb(57, 97, 237);
		}
	}

	.extension {
		color: rgb(169, 174, 199);

		margin-right: auto;

		cursor: default;
	}

	.size {
		font-family: Montserrat Medium;
		font-weight: 500;

		cursor: default;

		margin-left: auto;
		user-select: none;
		color: rgb(169, 174, 199);
	}

	.file-icon {
		border-radius: 50%;
		background-color: blue;
	}

	.download-icon {
		position: relative;

		margin-left: 8px;

		fill: rgb(169, 174, 199);

		cursor: pointer;
		a {
			width: 24px;
			height: 24px;

			display: block;

			position: absolute;
		}
	}
}
