@import "./mixins/folder-icon.scss";

#folder-structure {
	height: 80vh;
	width: 400px;

	overflow-x: scroll;

	border-radius: 25px 0 0 25px;
	padding: 20px;
	background-color: rgb(255, 255, 255);
}

.collapsable-folder-structure-element {
	position: relative;

	&.no-contents {
		.head .expand-icon {
			opacity: 0;
			pointer-events: none;
		}
	}

	&.open:not(.no-contents) {
		> .content {
			height: auto;
			display: block;
		}
	}

	&.open {
		> .head {
			&:hover + .content,
			&.drag-hover + .content {
				background-color: rgb(246, 249, 255);
			}

			.folder-icon {
				@include folder-icon-opened(false);
			}

			.expand-icon {
				transform: rotate(0deg);
			}
		}
	}

	.head {
		&:hover {
			cursor: pointer;

			.folder-icon div.back span.triangle {
				border-color: rgb(235, 240, 254) transparent transparent transparent;
			}

			.name {
				pointer-events: none;
			}

			.open-in-new-tab-icon {
				display: block;
			}
		}

		.folder-icon {
			@include folder-icon-closed(false);
		}

		.expand-icon {
			transform: rotate(-90deg);

			fill: rgb(169, 174, 199);

			&:hover {
				fill: rgb(57, 97, 237);
			}
		}

		.open-in-new-tab-icon {
			fill: rgb(169, 174, 199);
			margin-left: auto;
			display: none;

			&:hover {
				fill: rgb(57, 97, 237);
			}
		}
	}

	.content {
		margin-top: -20px;
		padding-top: 20px;
		padding-left: 25px;

		border-radius: 15px;

		height: 0;
		display: none;

		overflow: hidden;
	}
}
