@import "./mixins/folder-icon.scss";

:root {
	--folder-icon-border-radius: 3px;
}

.element.folder {
	*:not(.icon) {
		pointer-events: none;
	}

	&.editable {
		background-color: rgb(235, 240, 254);

		.name[contenteditable],
		.name[contenteditable="true"] {
			min-width: 2px;
		}
	}

	&:hover {
		cursor: pointer;

		.folder-icon {
			@include folder-icon-opened;
		}
	}

	.folder-icon {
		@include folder-icon-open-on-hover;
	}
}
