#interactive-path {
	display: flex;
	flex-direction: row;

	margin-left: 20px;
	padding: 0 8px;
	border-radius: 10px;

	.interactive-path-component {
		width: min-content;

		display: flex;
		flex-direction: row;
		align-items: center;
		// pointer-events: none;

		&:hover {
			.value:hover {
				cursor: pointer;
				color: rgb(57, 97, 237);
			}
		}

		&:nth-of-type(1) {
			.icon {
				display: none;
			}
		}

		.icon {
			pointer-events: none;

			width: 24px;
			height: 24px;

			svg {
				fill: rgb(102, 113, 168);
			}
		}

		p.value.element {
			height: min-content;

			font-family: Montserrat Medium;
			font-size: 0.9rem;
			font-weight: 500;
			white-space: nowrap;

			color: hsl(230, 27%, 53%);

			margin-bottom: 0;
			padding: 8px 8px;

			pointer-events: all !important;

			&:hover {
				background-color: transparent;
			}
		}
	}
}
