:host {
	background-color: var(--color-bg);

	padding: 1.25rem;
	border-radius: 0 1.625rem 1.625rem 0;

	display: block;
}

:host > selectable-list-item {
	height: 2.5rem;

	display: flex;
	align-items: center;
	justify-content: start;

	gap: 8px;
}

:host > selectable-list-item:not(:last-child) {
	margin-bottom: 2px;
}
