:host {
	background-color: var(--color-bg);

	border-radius: 0 1.625rem 1.625rem 0;

	display: block;

	overflow: hidden;

	/* AMT of items + spacing between items excluding last one + padding */
	height: calc(10.5 * 2.5rem + (10 - 1) * 0.125rem + 1.625rem);

	position: relative;
}

:host > .action-trigger:hover + .actions > .action,
:host > .actions:hover > .action,
:host.in-select-mode > .actions > .action {
	transform: translateY(0);

	opacity: 1;
}

:host > .action-trigger {
	display: flex;
	align-items: center;
	justify-content: center;

	position: absolute;

	bottom: 0.563rem;
	left: 0.563rem;

	background-color: var(--color-bg-tertiary);

	padding: 0.125rem;

	border-radius: 0.313rem;

	transition: all 0.2s ease;

	box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
}

:host > .action-trigger:hover {
	scale: 1.1;

	cursor: pointer;
}

:host > .action-trigger:hover > .arrow {
	fill: var(--color-icon-hover);
}

:host > .action-trigger > .arrow {
	width: 1.125rem;

	rotate: 180deg;

	fill: var(--color-icon);

	transition: all 0.2s ease;
}

:host > .actions {
	position: absolute;

	padding: 0.375rem 0.75rem;

	bottom: 0;

	left: 1.938rem;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: start;

	gap: 0.625rem;

	transition: all 0.2s ease;
}

:host > .actions > .action {
	display: flex;
	align-items: center;
	justify-content: center;

	background-color: var(--color-bg-tertiary);

	border-radius: 0.375rem;

	padding: 0.125rem;

	box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);

	transform: translateY(2.125rem);

	opacity: 0;

	transition: all 0.2s ease;
}

:host > .actions > .action:nth-child(2) {
	transition:
		all 0.2s ease,
		transform 0.2s ease 50ms;
}

:host > .actions > .action:nth-child(3) {
	transition:
		all 0.2s ease,
		transform 0.2s ease 100ms;
}

:host > .actions > .action:nth-child(4) {
	transition:
		all 0.2s ease,
		transform 0.2s ease 150ms;
}

:host > .actions > .action > .icon {
	width: 1.5rem;

	fill: var(--color-icon);
}

:host > .actions > .action:hover {
	scale: 1.1;

	cursor: pointer;
}

:host > .actions > .action:hover > .icon {
	fill: var(--color-icon-hover);
}

:host > .actions > .action.delete > .icon {
	fill: var(--color-icon-danger);
}

:host > .actions > .action.delete:hover > .icon {
	fill: var(--color-icon-danger-hover);
}

:host > .items {
	box-sizing: border-box;
	overflow: scroll;

	width: 100%;
	height: 100%;

	padding: 1.625rem;
	padding-bottom: 2.125rem;
}

:host > .items > selectable-list-item {
	display: flex;
	align-items: center;
	justify-content: start;
}

:host > .items > selectable-list-item:not(:last-of-type) {
	margin-bottom: 0.125rem;
}

:host > .items > selectable-list-item file-list-item,
:host > .items > selectable-list-item directory-list-item {
	transition:
		border-radius 0.2s ease,
		background-color 0.2s ease;
}

/* The following code matches blocks of selected adjacent items */

/* Match the actual file-list-item or directory-list-item to adjust border radius: */

/* FIRST */
/* Match the file-list-item of the first selected list item that is immediately followed by another selected list item */
selectable-list-item.selected:first-of-type:has(+ selectable-list-item.selected) file-list-item,
/* Match the directory-list-item of the first selected list item that is immediately followed by another selected list item */
selectable-list-item.selected:first-of-type:has(+ selectable-list-item.selected) directory-list-item,
/* Match the file-list-item of a selected list item that is placed after a non selected list item and immediately followed by another selected list item */
selectable-list-item:not(.selected) + selectable-list-item.selected:has(+ selectable-list-item.selected) file-list-item,
/* Match the directory-list-item of a selected list item that is placed after a non selected list item and immediately followed by another selected list item */
selectable-list-item:not(.selected) + selectable-list-item.selected:has(+ selectable-list-item.selected) directory-list-item {
	border-radius: 0.9rem 0.9rem 0 0;
	padding-bottom: 0.125rem;
}

/* MIDDLE */
/* Match the file-list-item of a selected list item that is preceded by and placed after a selected list item */
selectable-list-item.selected + selectable-list-item.selected:not(:last-of-type):has(+ selectable-list-item.selected) file-list-item,
/* Match the directory-list-item of a selected list item that is preceded by and placed after a selected list item */
selectable-list-item.selected + selectable-list-item.selected:not(:last-of-type):has(+ selectable-list-item.selected) directory-list-item {
	border-radius: 0;
	padding-bottom: 0.125rem;
}

/* LAST */
/* Match the file-list-item of the last selected list item that is placed after a selected list item */
selectable-list-item.selected + selectable-list-item.selected:last-of-type file-list-item,
/* Match the directory-list-item of the last selected list item that is placed after a selected list item */
selectable-list-item.selected + selectable-list-item.selected:last-of-type directory-list-item,
/* Match the file-list-item of a selected list item that is placed after a selected list item and followed by a non selected  list item */
selectable-list-item.selected + selectable-list-item.selected:not(:first-of-type):has(+ :not(selectable-list-item.selected)) file-list-item,
/* Match the directory-list-item of a selected list item that is placed after a selected list item and followed by a non selected  list item */
selectable-list-item.selected + selectable-list-item.selected:not(:first-of-type):has(+ :not(selectable-list-item.selected)) directory-list-item {
	border-radius: 0 0 0.9rem 0.9rem;
}

/* Match any selectable-list-item that is in the beginning or in the middle of a coherent block to adjust margin: */
selectable-list-item.selected:first-of-type:has(+ selectable-list-item.selected),
selectable-list-item:not(.selected) + selectable-list-item.selected:has(+ selectable-list-item.selected),
selectable-list-item.selected + selectable-list-item.selected:not(:last-of-type):has(+ selectable-list-item.selected) {
	margin-bottom: 0;
}
