:host {
	display: block;
}

:host:not(:last-of-type) {
	margin-bottom: 0.125rem;
}

:host > header {
	position: relative;

	height: 2.5rem;

	padding: 0 0.9rem;

	border-radius: 0.9rem;

	user-select: none;

	transition: background-color 0.2s ease;

	display: flex;
	align-items: center;
	justify-content: left;
	gap: 0.5rem;

	z-index: 2;
}

:host > header:hover {
	cursor: pointer;

	background-color: var(--color-bg-hover);
}

:host.is-selected > header {
	background-color: var(--color-bg-selected);
}

:host.is-selected > header:hover + main {
	background-color: var(--color-bg-hover);
}

:host > header:hover + main {
	background-color: var(--color-bg-secondary-hover);
}

:host > header:hover > .name {
	color: var(--color-text-secondary-hover);
}

:host > header > .icon {
	flex-shrink: 0;
	width: 1.5rem;

	display: flex;
	align-items: center;
	justify-content: center;
}

:host > header > .arrow {
	flex-shrink: 0;

	display: flex;
	align-items: center;
	justify-content: center;

	opacity: 0;

	width: 1.375rem;

	padding: 0.125rem;

	margin-right: -0.25rem;

	border-radius: 0.5rem;

	transition: background-color 0.2s ease;

	pointer-events: none;
}

:host > header > .arrow > svg {
	fill: var(--color-icon);

	transition:
		fill 0.2s ease,
		transform 0.2s ease;
}

:host > header > .arrow:hover {
	background-color: var(--color-bg-hover-on-bg-hover);
}

:host > header > .arrow:hover > svg {
	fill: var(--color-icon-hover);
}

:host.is-selected > header > .arrow:hover {
	background-color: var(--color-bg-hover-on-bg-selected);
}

:host.is-collapsed > header > .arrow > svg {
	transform: rotate(-90deg);
}

:host.has-children > header > .arrow {
	opacity: 1;

	pointer-events: all;
}

:host > header > .name {
	color: var(--color-text-secondary);
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

:host > main {
	position: relative;

	z-index: 1;

	height: auto;

	padding-left: 1.875rem;

	overflow: hidden;

	margin-top: -1.25rem;
	padding-top: calc(1.25rem + 0.125rem);

	transition: background-color 0.2s ease;

	border-radius: 0 0 0.9rem 0.9rem;
}

:host:is(.is-collapsed, :not(.has-children)) > main {
	height: 0;
	padding: 0;
	margin: 0;
}

:host.is-loading > main > .loading-item {
	height: 2.5rem;
	padding: 0 0.9rem;
	padding-bottom: 0.125rem;
	margin-top: -0.125rem;

	display: flex;
	align-items: center;
	justify-content: left;
	gap: 0.5rem;
}

:host.is-loading > main > .loading-item > loading-spinner {
	margin-left: 1.875rem;
	width: 1.6rem;
}

:host.is-loading > main > .loading-item > .text {
	color: var(--color-text-tertiary);

	font-size: 0.9rem;
	font-family: Montserrat Regular;

	user-select: none;
}

:host.is-loading > .loading-item > .text {
	user-select: none;
}
