@function theme-get($path...) {
	$map: $themes;

	@each $key in $path {
		$map: map-get($map, $key);
	}

	@return $map;
}

$themes: (
	"light": (
		"general": (),
		"navigation": (
			"background-color": rgb(255, 255, 255),
			"font-color": rgb(174, 178, 201),
			"tab-text-color": rgb(141, 147, 177),
			"tab-hover-background-color": rgb(235, 240, 254),
			"selected-tab-font-color": rgb(54, 97, 237),
			"selected-tab-background-color": rgb(235, 240, 254),
			"author-title-color": rgb(148, 148, 148),
			"collapse-icons-color": rgb(38, 38, 38),
			"header-font-color": rgb(38, 38, 38),
		),
	),
	"dark": (
		"general": (),
		"navigation": (
			"background-color": rgb(26, 28, 30),
			"font-color": rgb(111, 113, 117),
			"tab-text-color": rgb(144, 146, 150),
			"tab-hover-background-color": rgb(48, 50, 52),
			"selected-tab-font-color": rgb(237, 239, 241),
			"selected-tab-background-color": rgb(48, 50, 52),
			"author-title-color": rgb(148, 148, 148),
			"collapse-icons-color": rgb(223, 225, 227),
			"header-font-color": rgb(223, 225, 227),
		),
	),
);
