/* @import url('themes/light.css'); */
/* @import url('themes/dark.css'); */
@import '@pihub/components/styles';

* {
	padding: 0;
	margin: 0;

	-webkit-tap-highlight-color: transparent;

	font-family: 'Satoshi-Medium';
	box-sizing: border-box;
}

html,
body {
	width: 100%;
	height: 100%;
}

::-webkit-scrollbar {
	display: none;
}

p {
	color: var(--color-text-primary);
}
