:host > label {
	display: flex;
	align-items: start;
	justify-content: start;

	width: 100%;

	gap: 0.5rem;
}

:host > label > checkbox {
	width: 1.5rem;

	margin-top: 0.5rem;

	opacity: 0;

	margin-left: -2rem;

	transition:
		margin-left 0.3s ease,
		opacity 0.25s ease-out;
}

:host.selectable > label > checkbox {
	margin-left: 0;
	opacity: 1;

	transition:
		margin-left 0.3s ease,
		opacity 0.25s ease 0.05s;
}

:host ::ng-deep > label > :not(checkbox) {
	flex-grow: 1;
}
