:host {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	height: 80vh;
	width: 70vw;

	border-radius: 25px;

	overflow: hidden;
}

:host:not(.loaded) {
	background-color: white;
}

:host > div {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;

	width: 100%;
	height: 100%;
}

:host:not(.loaded) > :is(div, interactive-path) {
	display: none;
}

:host > loading-spinner {
	width: 60px;
	height: 60px;

	--thickness: 10px;
}
